server {
    listen       80;
    server_name magento236.test;

    set $MAGE_ROOT /home/hieudang/www/magento236;
    set $PHP php74;
    include /etc/nginx/snippets/magento2.conf;
}

server {
    listen       80;
    server_name magento224.test;

    set $MAGE_ROOT /home/hieudang/www/magento224;
    set $PHP php73;
    include /etc/nginx/snippets/magento2.conf;
}

server {
    listen       80;
    server_name  mail.test;

    location / {
        proxy_pass http://maildev:80/;
        proxy_set_header    Host             $host;
        proxy_set_header    X-Real-IP        $remote_addr;
        proxy_set_header    X-Forwarded-For  $proxy_add_x_forwarded_for;
    }
}